@import "components/colors";
@import "components/variables";
@import "components/mixins-fullpalette";
@import "components/roboto";
@import "components/icons-material-design";
@import "components/shadows";
@import "components/ripples";

body {
  background-color: $body-bg;
  &.inverse {
    background: #333333;
    &, .form-control {
      color: $darkbg-text;
    }
    .modal,
    .panel-default,
    .card {
      &,
      .form-control {
        background-color: initial;
        color: initial;
      }
    }

  }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h5, h6{
  font-weight: 400;
}

a, a:hover, a:focus {
  color: $primary;
}

// Well and Jumbotrons
@import "components/welljumbo";

// Buttons
@import "components/buttons";

// Checkboxes
@import "components/checkboxes";

// Toggle buttons
@import "components/togglebutton";

// Radios
@import "components/radios";

// Text inputs
@import "components/inputs";

legend {
  border-bottom: 0;
}

// Lists
@import "components/lists";

// Navbar
@import "components/navbar";

.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  .divider {
    background-color: rgba(229, 229, 229, 0.12);
  }
  li {
    overflow: hidden;
    position: relative;
    a:hover {
      background-color: transparent;
      color: $primary;
    }
  }
  @include variations(" li a:hover", color, $primary);
}

// Alerts
@import "components/alerts";

// Progress bar
@import "components/progress";

// Typography
.text-warning {
  color: $btn-warning;
}
.text-primary {
  color: $btn-primary;
}
.text-danger {
  color: $btn-danger;
}
.text-success {
  color: $btn-success;
}
.text-info {
  color: $btn-info;
}

@import "components/tabs";

@import "components/popups";

@import "components/icons";

@import "components/cards";

@import "components/dialogs";

@import "components/labels";

@import "components/panels";

@import "components/dividers";

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

// External plugins
@import "components/plugin-snackbarjs";
@import "components/plugin-nouislider";
@import "components/plugin-selectize";
@import "components/plugin-dropdownjs";
